.blogListContainer {
    gap: 33px;
    flex-wrap: wrap;
}

.blogPostWrapper {
    gap: 10px;
    max-width: 335px;
}

.blogPostWrapper a {
    color: var(--main-bg-color);
    text-decoration: none;
}

.postImage {

    border-radius: 5px;
    object-fit: cover;
    max-height: 200px;
}


.hiddenContent {
    display: none;
}



.showMoreBtnContainer {
    margin: auto;
}

.showMoreBtn {
    padding: 1rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--main-bg-color);
    font-size: 24px;
}