*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Inter", sans-serif;
}

img {
    width: 100%;
}

.searchGlass {
    color: #eee;
}

@media only screen and (min-width: 600px) {

    main {
        padding: 2rem;
        max-width: 1440px;
        margin: auto;
    }

    /* Index */
    nav {
        padding: 1rem;
        background-color: #000;
    }

    #currentActive {
        text-decoration: underline;
        font-weight: bold;
    }

    .userProfile,
    .menuAnchors {
        gap: 1rem;
    }

    .userProfile a,
    .menuAnchors a {
        font-size: small;
        color: #eee;
        text-decoration: none;
        padding: 0.7rem;
    }

    .createAccountBtn {
        background-color: #3E54A3;
        border-radius: 3rem;
    }

    .navContainer-wrapper {
        max-width: 1440px;
        margin: auto;
        justify-content: space-between;
    }

    .logo-menu-wrapper,
    .input-userProfile-wrapper {
        align-items: center;
        gap: 5.5rem;
    }

    #menu-search {
        color: var(--main-text-color);
        background-color: #000;
        text-align: center;
        border: none;
        border-bottom: 1px solid var(--main-text-color);
    }

    #menu-search::placeholder {
        color: var(--main-text-color);
    }

    .signIn:hover,
    .createAccountBtn:hover {
        text-decoration: underline;
    }


    /* Footer */
    footer {
        padding: 1rem;
        background-color: var(--main-bg-color);
    }

    .footer-wrapper {
        margin: auto;
        max-width: 1440px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 75px;
    }

    .footer-links {
        gap: 10px;
    }

    .footer-links a {
        text-decoration: none;
        color: var(--main-text-color);
    }

    .footer-SoMe {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        max-width: 162px;
    }

    .newsletter-form-container {
        color: var(--main-text-color);
        max-width: 260px;
        gap: 10px;
    }

    .newsletter-input {
        gap: 10px;
    }

    .newsletter-input label {
        font-size: 12px;
        font-weight: bold;
    }

    .newsletter-input input {
        color: var(--main-text-color);
        background-color: #000;
        border: none;
        border-bottom: 1px solid var(--main-text-color);
    }

    .newsletter-input button {
        cursor: pointer;
        font-family: "Inter", sans-serif;
        max-width: 100px;
        padding: 0.4rem;
        border: none;
        border-radius: 5px;
        color: var(--main-text-color);
        background-color: var(--main-accent-color);
    }

    #emailNewsletter::placeholder {
        color: var(--main-text-color);
    }

    .ToS {
        color: var(--main-accent-color);
        text-decoration: underline;
    }
}