/* Font */
@font-face {
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}



@media only screen and (min-width: 600px) {
h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 28px;
    font-weight: 500;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 16px;
    font-weight: 400;
}

.tagText {
    font-size: 14px;
    font-weight: 400;
}

.subtext {
    font-size: 12px;
}

/* Size */

.main-width {
    max-width: 1440px;
}

.blogPost-width {
    max-width: 720px;
}
}



@media only screen and (max-width: 599px) {
    h1 {
        font-size: 26px;
        font-weight: 700;
    }
    
    h2 {
        font-size: 24px;
        font-weight: 500;
    }
    
    h3 {
        font-size: 20px;
        font-weight: 700;
    }
    
    h4 {
        font-size: 18px;
    }
    
    p {
        font-size: 14px;
        font-weight: 400;
    }
    
    .tagText {
        font-size: 12px;
        font-weight: 400;
    }
    
    .subtext {
        font-size: 10px;
    }    
}



/* Flex */
.flex-horiz {
    display: flex;
}

.flex-vert {
    display: flex;
    flex-direction: column;
}



/* Color */
:root {
    --main-bg-color: #000;
    --main-text-color: #eee;
    --main-accent-color: #3E54A3;

    --first-tag-color: #7858A6;
    --second-tag-color: #4FA095;
    --third-tag-color: #4C0033;
    --fourth-tag-color: #A27B5C;

    --success-color: #28A745;
    --warning-color: #ffc107;
    --danger-color: #DC3545;
}


